.featured-in {
  background-color: var(--col-black);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  &__marquee {
    overflow: hidden;
    width: 100%;
  }
  &__track {
    .swiper-wrapper {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
  &__logo {
    filter: invert(1);
    height: 120px;
    width: auto;
    flex: 0 0 auto;
  }
  .swiper-slide {
    flex: 0 0 auto;
    width: auto;
  }
}
