.cta {
  position: relative;
  overflow: hidden;
  isolation: isolate;

  &__lined-circle {
    width: 300px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    opacity: 0.5;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 200%;
      height: 200%;
      background-image: url(../img/lined-circle.svg);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      transform-origin: center;
      animation: rotateCircle 120s linear infinite;
    }
  }

  &__blue-dots {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    opacity: 0.5;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 200%;
      background-image: url(../img/blue-dot.svg);
      background-size: auto 20px;
      background-position: top right;
      background-repeat: repeat;
      animation: scrollDotsUp 30s linear infinite;
    }
  }
}
