.two-cta-cards {
    position: relative;
    border-bottom: 1px solid var(--col-mid-grey);
}

.has-blue-dots--left {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    opacity: 0.5;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 200%;
      background-image: url(../img/blue-dot.svg);
      background-size: auto 20px;
      background-position: top right;
      background-repeat: repeat;
      animation: scrollDotsUp 30s linear infinite;
    }
  }