.fixed-text-image {
  background-image: var(--_bg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
  &__img-container {
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    position: relative;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.overlay {
  //   background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
